/* fonts */

@font-face {
  font-family: 'Nunito';
  src:  local('Nunito'),
        url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff');
        font-display: swap;
        font-style: normal;
        font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src:  local('Nunito'),
        url('../fonts/Nunito-Medium.woff2') format('woff2'),
        url('../fonts/Nunito-Medium.woff') format('woff');
        font-display: swap;
        font-style: normal;
        font-weight: 500;
}

@font-face {
  font-family: 'Nunito';
  src:  local('Nunito'),
        url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff');
        font-display: swap;
        font-style: normal;
        font-weight: 700;
}

@font-face {
  font-family: 'Nunito';
  src:  local('Nunito'),
        url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBold.woff') format('woff');
        font-display: swap;
        font-style: normal;
        font-weight: 600;
}

@font-face {
  font-family: 'Nunito';
  src:  local('Nunito'),
        url('../fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraBold.woff') format('woff');
        font-display: swap;
        font-style: normal;
        font-weight: 800;
}

/* general */

:root {
  --accent: #57DBE4;
  --blanche: #fff;
  --claire: #CACACA;
  --coleur-de-fond: rgba(255, 130, 252, 0.7);
  --eighty: 80px;
  --gris: #666;
  --gris-fonce: #414141;
  --interstice: 85px;
  --inordinate: 100px;
  --obscur: #273a52;
  --noir: #131c28;
  --primary: #7BB1FF;
  --saturation-blue: #333CFF;
  --secondary: #FF82FC;
  --septieme: 700;
  --sixieme: 600;
  --quatrieme: 400;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--blanche);
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
  padding: 0 15px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 50px;
    max-width: 1440px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.link-reset {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.btn-reset {
  font-family: inherit;
  background-color: transparent;
  border: transparent;
}

.section-title {
  margin: 0;
  font-weight: var(--quatrieme);
  font-size: 48px;
  line-height: 59px;
  color: var(--obscur);
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.footer {
  margin: 0 auto;
}

input, 
textarea {
  font-family: inherit;
}

/* nav */

.header {
  background-color: var(--blanche);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0 0 5px 5px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85px;
  padding: 14px 15px;
}

.header .picture__img {
  margin-right: 30px;
}

/* media-screens */

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 23px;
}

.burger__line {
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: var(--noir);
  outline: none;
}

.burger:active:after {
  outline: none;
}

.burger__line:first-child {
	top: 0;
}

.burger__line:nth-child(2) {
	top: 47%;
}

.burger__line:last-child {
	bottom: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  min-height: 22px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: var(--interstice);
}

.nav-list__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-list__item:not(:last-child) {
  margin-right: var(--interstice);
}

.nav-link {
  position: relative;
  font-weight: var(--sixieme);
  font-size: 18px;
  color: var(--obscur);
  border-radius: 5px;
  outline: none;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  outline: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--primary);
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link:active {
  color: var(--saturation-blue);
}

.nav-link:active::after {
  background-color: var(--saturation-blue);
}

.search {
  width: 450px;
}

.search__input {
  position: absolute;
  top: 5%;
  right: 75px;
  visibility: hidden;
  cursor: pointer;
  padding: 20px;  
  height: 40px; 
  width: 10px;
  font-family: 'Nunito', sans-serif;  
  background-color: transparent;  
  color: transparent;
  border-style: none;
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
 
.search__input--active { 
  visibility: visible; 
  cursor: pointer;
  padding: 20px;  
  height: 40px; 
  width: 450px; 
  border-style: none; 
  outline: none;
  border-radius: 16px; 
  font-family: 'Nunito', sans-serif;  
  background-color: var(--blanche);  
  color: var(--obscur);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(12%, 10%);
      -ms-transform: translate(12%, 10%);
          transform: translate(12%, 10%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.search__input--active:focus {
  outline: 2px solid var(--primary);
}

.search__input--active:active {
  outline: 2px solid var(--saturation-blue);
}

.search__input--active::-webkit-input-placeholder {
  padding-bottom: 10px;
  width: 350px;
  border-bottom: 1px solid var(--primary);
}

.search__input--active::-moz-placeholder {
  padding-bottom: 10px;
  width: 350px;
  border-bottom: 1px solid var(--primary);
}

.search__input--active:-ms-input-placeholder {
  padding-bottom: 10px;
  width: 350px;
  border-bottom: 1px solid var(--primary);
}

.search__input--active::-ms-input-placeholder {
  padding-bottom: 10px;
  width: 350px;
  border-bottom: 1px solid var(--primary);
}

.search__input--active::placeholder {
  padding-bottom: 10px;
  width: 350px;
  border-bottom: 1px solid var(--primary);
}

.search__input--active::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.header__cancel-btn {
  visibility: hidden;
  position: absolute;
  top: 30%;
  right: 2%;
  width: 24px;
  height: 24px;
  outline: none;
  outline-offset: 2px;
  background-repeat: no-repeat;
  -webkit-transition: fill 0.2s ease-in-out, outline 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out, outline 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out, outline 0.2s ease-in-out;
  z-index: 10;
}

.cancel--active {
  visibility: visible;
}

.cancel--active:focus {
  fill: #57DBE4;
}

.cancel--active:hover {
  fill: #FF82FC;
}

.cancel--active:active {
  fill: #333CFF;
}

.search__input[type="search"] {
  cursor: pointer;
  padding: 32px;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  background-color: var(--blanche);
  color: var(--obscur);
  border-bottom: 1px solid #fff;
}

.header__btn {
  position: absolute;
  right: 62px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-height: 24px;
  max-width: 24px;
  -webkit-transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__btn .header__btn__svg {
  position: relative;
  outline: none;
  fill: transparent;
  stroke: var(--obscur);
  outline: none;
  -webkit-transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out, outline 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out, outline 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header__btn:focus .header__btn__svg {
  stroke: var(--obscur);
}

.header__btn:hover .header__btn__svg {
  stroke: var(--primary);
}

.header__btn:active .header__btn__svg {
  stroke: var(--primary);
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .header__cancel-btn {
    right: 30px;
  }
}

@media (max-width: 1280px) {

  .header .container {
    max-width: 1280px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 50px;
  }

  .header .picture__img {
    position: absolute;
    top: 20%;
    left: 37%;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .header .picture__img--none {
    visibility: hidden;
    -webkit-transition: display .5s ease-in-out;
    -o-transition: display .5s ease-in-out;
    transition: display .5s ease-in-out;
  }

  /* burger */

  .burger {
    display: block;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .burger--active
  .burger {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 23px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .burger--active
  .burger__line {
	  position: absolute;
    right: 0;
	  width: 30px;
	  height: 3px;
    background-color: var(--saturation-blue);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .burger--active
  .burger__line:first-child {
	  top: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .burger--active
  .burger__line:nth-child(2) {
	  top: 47%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .burger--active
  .burger__line:last-child {
	  bottom: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .nav {
    visibility: hidden;
    position: relative;
    height: 76px;
    z-index: 5;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .nav--active {
    visibility: visible;
    padding: 30px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .nav--active .nav-list, 
  .nav--active .nav-link {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .search {
    width: 300px;
  }
  
  .search__input {
    position: absolute;
    right: 50px;
    visibility: hidden;
    cursor: pointer;
    padding: 32px;  
    height: 60px; 
    width: 10px;
    font-family: 'Nunito', sans-serif;  
    background-color: transparent;  
    color: transparent;
    border-style: none;
    -webkit-transform: translateX(20%);
        -ms-transform: translateX(20%);
            transform: translateX(20%);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
   
  .search__input--active { 
    visibility: visible; 
    cursor: pointer;
    padding: 32px;  
    height: 60px; 
    width: 300px; 
    border-style: none;  
    border-radius: 16px; 
    font-family: 'Nunito', sans-serif;  
    background-color: var(--blanche);  
    color: var(--obscur);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    -webkit-transform: translate(12%, 10%);
        -ms-transform: translate(12%, 10%);
            transform: translate(12%, 10%);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .search__input--active::-webkit-input-placeholder {
    width: 200px;
  }

  .search__input--active::-moz-placeholder {
    width: 200px;
  }

  .search__input--active:-ms-input-placeholder {
    width: 200px;
  }

  .search__input--active::-ms-input-placeholder {
    width: 200px;
  }

  .search__input--active::placeholder {
    width: 200px;
  }

  .header__btn {
    display: block;
  }
}

/* intro */

.section-intro {
  margin-bottom: 20px;
}

.slider {
  position: relative;
  min-height: 800px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 5px 5px;
  z-index: -1;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 5px 5px;
  z-index: -1;
}

.slider__back-earth {
  min-height: inherit;
  background-image: url('../img/earth-1920.webp');
}

.slider__back-haiway {
  min-height: inherit;
  background-image: url('../img/haiway-1920.webp');
}

.slider__back-car {
  min-height: inherit;
  background-image: url('../img/handsmap-1920.webp');
}

.arrow-btn {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
}

.arrow-btn .nav-btn__item__span {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.previous:hover .nav-btn__item__span {
  -webkit-transform: translateX(-10px) scale(1.2);
      -ms-transform: translateX(-10px) scale(1.2);
          transform: translateX(-10px) scale(1.2);
}

.next:hover .nav-btn__item__span {
  -webkit-transform: translateX(10px) scale(1.2);
      -ms-transform: translateX(10px) scale(1.2);
          transform: translateX(10px) scale(1.2);
}

.nav-btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  -webkit-transform: translate(-2%, -120%);
  -ms-transform: translate(-2%, -120%);
  transform: translate(-2%, -120%);
}

.nav-btn__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
}

.nav-btn .nav-btn__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1%;
          flex: 0 0 1%;
}

.slide.active {
  display: block;
}

.arrow-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;
}

.icon-arrow-left-c {
  background-image: url('../img/arrow-prev.svg');
}

.icon-arrow-right-c {
  background-image: url('../img/arrow-next.svg');
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 80px;
}

.content__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 70%;
  font-weight: 800;
  font-size: 70px;
  line-height: var(--interstice);
  color: var(--blanche);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(10%, white), color-stop(20%, transparent));
  background: -o-linear-gradient(left, transparent 0, white 10%, transparent 20%);
  background: linear-gradient(to right, transparent 0, white 10%, transparent 20%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 3s 1 linear;
          animation: shine 3s 1 linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes shine {
  0%
    {
      background-position: 0;}
  40%
    {background-position: 600px;
    -webkit-text-fill-color: transparent;}
  100%
    {background: transparent;
      -webkit-text-fill-color: var(--blanche); }
}

@keyframes shine {
  0%
    {
      background-position: 0;}
  40%
    {background-position: 600px;
    -webkit-text-fill-color: transparent;}
  100%
    {background: transparent;
      -webkit-text-fill-color: var(--blanche); }
}

.content__text {
  margin-bottom: 85px;
  max-width: 50%;
  font-size: 24px;
  font-weight: var(--septieme);
  line-height: 29px;
  color: var(--blanche);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(10%, white), color-stop(20%, transparent));
  background: -o-linear-gradient(left, transparent 0, white 10%, transparent 20%);
  background: linear-gradient(to right, transparent 0, white 10%, transparent 20%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hilight 3s 1 linear;
          animation: hilight 3s 1 linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hilight {
  0% {
      background-position: 0;
    }
  60% {
      background-position: 600px;
    -webkit-text-fill-color: transparent;
  }
  100% {
      background: transparent;
      -webkit-text-fill-color: var(--blanche); 
    }
}

@keyframes hilight {
  0% {
      background-position: 0;
    }
  60% {
      background-position: 600px;
      -webkit-text-fill-color: transparent;
  }
  100% {
     background: transparent;
     -webkit-text-fill-color: var(--blanche);
    }
}

.content__btn {
  padding: 19px 35px;
  width: 280px;
  min-height: 78px;
  font-family: 'Nunito';
  font-size: 24px;
  font-weight: var(--septieme);
  line-height: 29px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  outline: 1px solid rgba(255, 255, 255, .3);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  -webkit-animation: 3s 1 finaly;
          animation: 3s 1 finaly;
          z-index: 10;
}

@-webkit-keyframes finaly {
  0% {background-color: transparent; 
    -webkit-text-fill-color: transparent; }
  90% {
    background-color: rgba(102, 102, 102, 0.3);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(65, 65, 65, 0.9);
    -webkit-text-fill-color: var(--blanche); }
}

@keyframes finaly {
  0% {background-color: transparent; 
    -webkit-text-fill-color: transparent; }
  90% {
    background-color: rgba(102, 102, 102, 0.3);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(65, 65, 65, 0.9);
    -webkit-text-fill-color: var(--blanche); }
}

@media (max-width: 1800px) {
  .slide * {
    max-width: 100%;
    min-height: 620px;
  }
}

@media (max-width: 1440px) {
  .content__title,
  .content__text {
  background: transparent;
  -webkit-text-fill-color: var(--blanche);
  text-shadow: 2px 2px 2px var(--gris-fonce);
  }

  .content__title,
  .content__text,
  .content__btn {
    -webkit-animation: 0;
    animation: 0;
   }

  .content__btn {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  } 
}

@media (max-width: 1280px) {
 .slide * {
    max-width: 100%;
    min-height: 620px;
  }
}

/* about */

.section-about {
  margin-bottom: 70px;
  width: 100%;
}

.about__title {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 50px;
  width: 70%;
  min-height: 192px;
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 200%;
  color: var(--obscur);
  text-align: left;
}

.chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 100%;
}

.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 32px;
  width: 49%;
  min-height: 622px;
}

.enter:not(:last-of-type) /*last-child */ {
  margin-bottom: 32px;
}

.enter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/sea-1920.webp');
  background-repeat: no-repeat;
  background-color: var(--gris);
  background-size: cover;
  border-radius: 5px;
  z-index: -1;
}

.enter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  min-height: 196px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  border-radius: 0 0 5px 5px;
}

.enter__descr {
  margin-right: 15px;
  width: 60%;
  min-height: 96px;
  font-weight: var(--septieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--blanche);
}

.enter__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 15px 35px;
  min-width: 175px;
  min-height: 60px;
  font-weight: var(--septieme);
  font-size: 16px;
  line-height: 20px;
  color: var(--blanche);
  border: 2px solid rgba(123, 177, 255, 0.7);
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.enter__btn:focus,
.enter__btn:hover {
  background-color: rgba(87, 219, 228, 0.7);
  border-color: rgba(87, 219, 228, 0.7);
}

.enter__btn:active {
  background-color: rgba(255, 130, 252, 0.7);
  border-color: rgba(255, 130, 252, 0.7);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
}

.projects__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 65px 60px;
  min-width: 100%;
  min-height: 295px;
  background-color: var(--blanche);
  background-repeat: no-repeat;
  background-position: left 60px top 65px;
  -webkit-box-shadow: 2px 2px rgba(123, 177, 255, 0.2);
          box-shadow: 2px 2px rgba(123, 177, 255, 0.2);
}

.projects__block:first-child {
  background-image: url('../img/icon-river-1920.svg');
}

.projects__block:nth-child(2) {
  background-image: url('../img/icon-freedom-1920.svg');
}

.projects__block:not(:last-child) {
  margin-bottom: 30px;
}

.projects__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  width: 68%;
  min-height: 150px;
}

.projects__title {
  margin-bottom: 8px;
  font-weight: var(--septieme);
  font-size: 24px;
  line-height: 29px;
}

.projects__descr {
  width: 90%;
  min-height: 128px;
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 1800px) {
  .section-about .container {
    max-width: 100%;
  }

  .enter::before {
    max-width: 100%;
    min-height: 200px;
    background-image: url('../img/sea-1280.webp');
  }

  .projects {
    width: 48%;
  }

  .projects__block {
    padding: 15px 10px;
    background-position: left 5% top 40%;
  }

  .projects__content {
    padding-left: 5%;
  }
}

@media (max-width: 1280px) {
  .section-about .container {
    max-width: 1280px;
  }

  .enter {
    width: 100%;
  }
  
  .projects {
    width: 97.3%;
  }
}

/* steps */

.section-steps {
  margin-bottom: var(--inordinate);
}

.section-steps .container {
  position: relative;
}

.step__title {
  margin-bottom: 47px;
}

.step__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  min-height: 22px;
  counter-reset: section;
}

.step__item {
  position: relative;
  outline: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.step__item:not(:last-child) {
  margin-right: 80px;
}

.step__item::before {
  counter-increment: section;
  content: counter(section) "";
  color: var(--obscur);
  outline: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.step__item__btn--active {
  color: var(--primary);
}

.step__item__btn {
  position: relative;
  font-weight: var(--quatrieme);
  font-size: 18px;
  line-height: 22px;
  color: var(--obscur);
  outline: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.step__item__btn::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -15px;
  outline: 1px solid var(--primary);
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.step__item__btn:focus::after {
  opacity: 1;
}

.step__item:focus-within,
.step__item__btn:focus  {
  -webkit-text-fill-color: #D502D0;
}

.step__item:hover::before,
.step__item:first-child:hover .step__item__btn,
.step__item__btn:hover {
  color: var(--primary);
}

.step__item:hover::before,
.step__item:hover .step__item__btn,
.step__item__btn:hover {
  -webkit-text-stroke: none;
  -webkit-text-fill-color: none;
  color: var(--accent);
}

.tabs-container {
  width: 1770px;
  min-height: 460px;
}

.features {
  margin-bottom: 47px;
  max-width: 100%;
  min-height: 352px;
}

.tabs-ol__btn--active {
  color: var(--secondary);
}

.tabs-item {
  display: none;
  background-repeat: no-repeat; 
}

.tabs-item--active {
  position: relative;
  display: block;
}

.tabs-item::before {
  border-radius: 5px;
}

.tabs-item--active::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  min-width: 40%;
  min-height: 460px;
  background-image: url('../img/client-1920.webp');
  background-repeat: no-repeat;
}

.tabs-item:nth-child(2)::before {
  background-image: url('../img/tourist-1920.webp');
}

.tabs-item:nth-child(3)::before {
  background-image: url('../img/lighthouse-1920.webp');
}

.tabs-item:nth-child(4)::before {
  background-image: url('../img/oldcity-1920.webp');
}

.tabs-ol__btn {
  color: var(--obscur);
}

.features__title {
  margin-bottom: 10px;
  max-width: 50%;
  font-weight: var(--septieme);
  font-size: 24px;
  line-height: 32px;
  color: var(--obscur);
}

.features__descr {
  max-width: 40%;
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--obscur);
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-btn {
  margin-right: 32px;
  padding: 20px 38px;
  max-width: 175px;
  min-height: 60px;
  font-weight: var(--septieme);
  font-size: 16px;
  line-height: 20px;
  color: var(--blanche);
  background-color: rgba(123, 177, 255, 0.7);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.features-btn:focus {
  background-color: rgba(87, 219, 228, 0.7);
}

.features-btn:hover {
  background-color: rgba(87, 219, 228, 0.7);
}

.features-btn:active {
  background-color: rgba(255, 130, 252, 0.7);
}

.features-link {
  padding: 20px 38px;
  max-width: 147px;
  min-height: 60px;
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 20px;
  color: var(--obscur);
  border: 1px solid var(--obscur);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.features-link:focus {
  border-color: var(--gris);
  background-color: var(--gris);
  color: var(--blanche);
}

.features-link:hover {
  border-color: var(--gris);
  background-color: var(--gris);
  color: var(--blanche);
}

.features-link:active {
  border-color: var(--noir);
  background-color: var(--noir);
  color: var(--blanche);
}

@media (max-width: 1800px) {

  .section-steps .container {
    max-width: 1800px;
  }

  .tabs-container {
      max-width: 100%;
      min-height: 400px;
    }

  .tabs-container::before {
      top: 5%;
      width: 50%;
      min-height: 400px;
    }
}

@media (max-width: 1440px) {
  .features__descr {
    max-width: 30%;
  }
}

@media (max-width: 1280px) {
  .section-steps .container {
    max-width: 1280px;
  }

  .tabs-item {
    max-width: 100%;
  }

  .tabs-item::before {
    background-position: right top;
  }

  .tabs-item--active::before {
    background-image: url('../img/client-1440.webp');
  }

  .tabs-item:nth-child(2)::before {
    background-image: url('../img/tourist-1440.webp');
    background-repeat: no-repeat;
  }

  .tabs-item:nth-child(3)::before {
    background-image: url('../img/lighthouse-1440.webp');
  }

  .tabs-item:nth-child(4)::before {
    background-image: url('../img/oldcity-1440.webp');
  }

  .features__descr {
    max-width: 30%;
  }

  .btn-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/* F.A.Q. */

.section-faq {
  margin-bottom: var(--inordinate);
}

.faq__title {
  margin-bottom: 45px;
}

.faq-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1px;
  width: 100%;
  font-size: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--claire);
  -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, filter 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, filter 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, filter 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.faq-list__item:first-child {
  border-top: 1px solid var(--claire);
}

.faq-list__item:focus {
  border-color: var(--primary);
}
  
.faq-list__item:hover {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}

.faq-list__item:active  {
  border-color: var(--claire);
}

.faq-list__item:active::after {
  border-color: var(--primary);
}

.accordion-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 100%;
}

.accordion-control {
  background: transparent;
  border: none;
  font-weight: var(--septieme);
  font-size: 24px;
  text-align: left;
  line-height: 32px;
  color: var(--obscur);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.accordion-control:focus,
.accordion-control:active {
  color: var(--saturation-blue);
}

.accordion-control:hover,
.accordion-control:active::after {
  color: var(--primary);
}

.accordion-container__accordion-head {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  width: 70%;
  font-weight: var(--septieme);
}

.faq-slash {
  color: var(--claire);
}

.accordion-content {
  overflow: hidden;
  width: 50%;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}

.accordion-content__descr {
  font-size: 16px;
  line-height: 32px;
  color: var(--gris);
}

.accordion-content__descr:last-of-type {
  margin-bottom: 20px;
}

.accordion-content .accordion-content__descr:not(:last-child) {
  margin-bottom: 20px;
}

.accordion--active .accordion-content {
  visibility: visible;
}

.accordion-container__icon {
  width: 40px;
  height: 40px;
  transition: background-color 0.3s, transform 0.3s;
}

.accordion-container__icon:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 2px;
  background-color: var(--saturation-blue);
  border-radius: 5px;
  box-shadow: 2px 2px 5px #A6A3A2;
}

.accordion-container__icon:before {
  content: "";
  position: absolute;
  right: 50%;
  width: 2px;
  height: 40px;
  background-color: var(--saturation-blue);
  border-radius: 5px;
  box-shadow: 2px 2px 5px #A6A3A2;
}

.accordion-container__icon:focus:after,
.accordion-container__icon:focus:before {
  background-color: var(--secondary);
}

.accordion-container__icon:hover:after,
.accordion-container__icon:hover:before {
  background-color: var(--primary);
}

.accordion-container__icon:active:after,
.accordion-container__icon:active:before {
  background-color: var(--gris-fonce);
}

.accordion-container .accordion-container__icon {
  position: absolute;
  top: 22px;
  right: 0;
}

.accordion--active .accordion-container__icon {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

#SL_balloon_obj {
  border: transparent;
}

/* footer */

.footer {
  background-image: url('../img/footer-back-1920.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.footer .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 65px;
  max-width: 1900px;
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px;
  min-width: 18%;
  min-height: 180px;
}

.terms .picture__img {
  margin-bottom: 20px;
  color: var(--blanche);
  -webkit-transform: scale(1.5) translateX(18%);
      -ms-transform: scale(1.5) translateX(18%);
          transform: scale(1.5) translateX(18%);
}

.terms-list__link {
  font-weight: var(--sixieme);
  font-size: 18px;
  line-height: 36px;
  color: var(--blanche);
  border-radius: 2px;
  outline: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.terms-list__link:focus {
  outline-offset: 3px;
  outline: 2px solid #e4d057;
  color: #e4d057;
}

.terms-list__link:hover {
  color: #9cd3f9;
}

.terms-list__link:active {
  outline: none;
  color: #e4d057;
}

.terms-list {
  margin-bottom: 90px;
}

.social-media, 
.terms-list__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media__item:not(:last-child) {
  margin-right: 25px;
}

.social-media__item, 
.terms-list__icon-list__icon-item {
  border-radius: 7px;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.social-media__link,
.terms-list__icon-list__icon-item__source {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-repeat: no-repeat;
}

.media-fb {
  background-image: url('../img/media-facebook.png');
}

.media-ln {
  background-image: url('../img/media-linkedin.png');
}

.media-tw {
  background-image: url('../img/media-twitter.png');
}

.media-inst {
  background-image: url('../img/media-instagram.png');
}

.social-media__link:focus,
.terms-list__icon-list__icon-item__source:focus {
  outline-offset: 3px;
  outline: 2px solid #e4d057;
}

.social-media__link:active,
.terms-list__icon-list__icon-item__source:active {
  outline: none;
}

.media-fb:hover,
.icon-un:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(253, 237, 21, 0.7);
          box-shadow: 0 0 5px 2px rgba(253, 237, 21, 0.7);
}

.media-inst:hover,
.media-ln:hover,
.icon-px:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(253, 109, 83, 0.7);
          box-shadow: 0 0 5px 2px rgba(253, 109, 83, 0.7);
}

.media-tw:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(190, 99, 249, 0.7);
          box-shadow: 0 0 5px 2px rgba(190, 99, 249, 0.7);
}

.terms-list__icon-list {
  position: absolute;
  right: -5%;
  bottom: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.terms-list__icon-list__icon-item:not(:last-child) {
  margin-right: 15px;
}

.icon-un {
  background-image: url('../img/source-unsplash.png');
}

.icon-px {
  background-image: url('../img/source-pixabay.png');
}

.icon-softr {
  background-image: url('../img/source-softr.png');
}

.icon-free {
  background-image: url('../img/source-freepik.png');
}

.icon-flaticon {
  background-image: url('../img/source-flaticon.png');
}

.icon-eight {
  background-image: url('../img/source-icons8.png');
}

.icon-craftwork {
  background-image: url('../img/source-craftwork.png');
}

.icon-logo {
  background-image: url('../img/source-logo.png');
}

.icon-softr:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(243, 160, 84, 0.7);
          box-shadow: 0 0 5px 2px rgba(243, 160, 84, 0.7);
}

.icon-free:hover,
.icon-flaticon:hover,
.icon-craftwork:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
}

.icon-eight:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(39, 230, 64, 0.7);
          box-shadow: 0 0 5px 2px rgba(39, 230, 64, 0.7);
}

.icon-logo:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(2, 101, 251, 0.7);
          box-shadow: 0 0 5px 2px rgba(2, 101, 251, 0.7);
  background-color: rgba(253, 253, 253, 0.7);
  outline: 3px;
}

/* form */

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  max-width: 620px;
  padding-left: 45px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-field,
.form,
.info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__title {
  margin-top: 5px;
  margin-bottom: 25px;
  font-weight: var(--quatrieme);
  font-size: 48px;
  line-height: 59px;
  color: var(--blanche);
}

.info__input,
.info__input__email {
  margin-bottom: 25px;
  min-height: 60px;
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--noir);
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #fefefe;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-filter ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-filter ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, filter ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, filter ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, filter ease-in-out, color 0.3s ease-in-out, -webkit-filter ease-in-out;
}

.info__input:focus,
.info__input__email:focus {
  background-color: #af9cf9;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.info__input:hover,
.info__input__email:hover {
  background-color: #9cd3f9;
}

.info__input:active,
.info__input__email:active {
  color: var(--blanche);
  background-color: #af9cf9;
  -webkit-filter: none;
          filter: none;
}

.info__input::-webkit-input-placeholder, .info__input__email::-webkit-input-placeholder, .info__textarea::-webkit-input-placeholder {
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--noir);
}

.info__input::-moz-placeholder, .info__input__email::-moz-placeholder, .info__textarea::-moz-placeholder {
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--noir);
}

.info__input:-ms-input-placeholder, .info__input__email:-ms-input-placeholder, .info__textarea:-ms-input-placeholder {
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--noir);
}

.info__input::-ms-input-placeholder, .info__input__email::-ms-input-placeholder, .info__textarea::-ms-input-placeholder {
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--noir);
}

.info__input::placeholder,
.info__input__email::placeholder,
.info__textarea::placeholder,
input {
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--noir);
}

.info__input[type="text" i],
.info__input__email[type="email"] {
  padding: 14px 24px;
}

.info__textarea {
  display: block;
  margin-bottom: 32px;
  padding: 14px 24px;
  max-height: 150px;
  background-color: #fefefe;
  font-family: 'Nunito';
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--noir);
  overflow: auto;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.info__textarea:focus {
  background-color: #af9cf9;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.info__textarea:hover {
  background-color: #9cd3f9;
}

.info__textarea:active {
  color: var(--blanche);
  background-color: #af9cf9;
  -webkit-filter: none;
          filter: none;
}

.click-btn {
  position: relative;
}

.click-btn__submit {
  margin-right: 22px;
  padding: 19px 52px;
  min-height: 58px;
  min-width: 269px;
  font-weight: var(--septieme);
  font-size: 16px;
  line-height: 20px;
  color: var(--blanche);
  background-color: var(--primary);
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.click-btn__submit:focus {
  background-color: rgba(175, 156, 249, 0.9);
}

.click-btn__submit:hover {
  background-color: rgba(156, 211, 249, 0.9);
}

.click-btn__submit:active {
  background-color: rgba(228, 208, 87, 0.9);
}

.click-btn__input {
  display: none;
}

.click-btn__input + .click-btn__label::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10%;
  display: block;
  width: 14px;
  min-height: 14px;
  margin-right: 4px;
  border: 1px solid var(--blanche);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.click-btn__input:checked + .click-btn__label::before {
  border-color: var(--claire);
  background-color: transparent;
  background-image: url('../img/check-in.svg');
}

.click-btn__terms {
  padding-left: 20px;
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--blanche);
}

.click-btn__agree {
  text-decoration: underline;
  color: var(--blanche);
}

/* left */

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 363px;
}

.footer-text__descr {
  font-weight: var(--quatrieme);
  font-size: 16px;
  line-height: 32px;
  color: var(--blanche);
}

@media (max-width: 1800px) {
  .footer .container {
    max-width: 1800px;
  }

  .terms .picture__img {
    padding-left: 10%;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.5;
  }

  .terms,
  .form-field {
    margin-bottom: 5%;
  }

  .info__title {
    z-index: 100;
  }
}

@media (max-width: 1440px) {
  .footer-text {
    max-width: 100%;
  }
  
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}